.swipeButtons {
    position: fixed;
    bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.swipeButtons .MuiIconButton-root {
    background: #fff;
    box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.15);
    /* padding: 3vw; */
    background: linear-gradient(to right, #fd297b, #ff5864, #ff655b);
    color: #fff;
}


    
